@import '../../../styles/helpers/mixins';

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -7px 0 0;

  @include media-desktop-first(mobile-portrait) {
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin: 0 17px 0 0;
  }

  &__user-name {
    line-height: 1.25;
    letter-spacing: -.5px;
  }

  &__user-img {
    margin-left: 20px;
  }

  &__user-show-more-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    background-image: url('../img/svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
  }

  &__icons {
    display: flex;
    align-items: center;

    @include media-desktop-first(mobile-portrait) {
      margin: 0 -7px;
    }
  }

  &__icon-btn {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;

    &_share-recap {
      background-image: url('../img/svg/notifications.svg');
    }

    &_notifications {
      background-image: url('../img/svg/share-recap.svg');
    }

    &_medium {
      background-image: url('../img/svg/medium.svg');
    }
  }
}
