.profile {
  display: flex;
  align-items: center;

  &__user {
    display: flex;
    align-items: center;
  }

  &__user-name {
    font-size: 16px;
    line-height: 20px;
  }

  &__user-img {
    margin-left: 20px;
  }

  &__user-show-more-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    background-image: url('../img/svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-left: 17px;
  }

  &__icon-btn {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;

    &_share-recap {
      background-image: url('../img/svg/notifications.svg');
    }

    &_notifications {
      background-image: url('../img/svg/share-recap.svg');
    }

    &_medium {
      background-image: url('../img/svg/medium.svg');
    }
  }
}
