@import '../../../styles/helpers/mixins';

.header {
  display: flex;
  height: 112px;
  background-color: #fff;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.06);

  @include media-desktop-first(mobile-portrait) {
    height: initial;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    padding: 21px 15px 0 15px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-desktop-first(mobile-portrait) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;
    }
  }

  &__logo {
    @include media-desktop-first(mobile-portrait) {
      margin-bottom: 17px;
    }

    img {
      display: block;
      width: 50px;
      height: 23px;
    }
  }
}
