@import '../../../styles/helpers/mixins';

.action-button {
  @include hover-desktop {
    .action-button__plus {
      transform: rotate(180deg);
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  width: 64px;
  height: 64px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-image: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);

  &:active {
    right: 1px;
    width: 62px;
    height: 62px;
  }

  &:focus {
    outline: none;
  }

  &__plus {
    position: relative;
    width: 20px;
    height: 20px;
    transition: transform .3s;
  }

  &__bar {
    position: absolute;
    background-color: #fff;

    &_vertical {
      left: 50%;
      width: 2px;
      height: 100%;
      transform: translateX(-50%);
    }

    &_gorizontal {
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translateY(-50%);
    }
  }
}
