@import '../../../styles/helpers/mixins';

.followers {
  display: flex;
  justify-content: space-between;
  margin: 0 0 23px;

  @include media-desktop-first(tablet) {
    max-width: 320px;
    margin: 0 auto 23px;
  }

  &__item {
    text-align: center;
    color: #3e3f58;

    @include media-desktop-first(tablet) {
      min-width: 68px;
      margin: 0 auto 23px;
    }
  }

  &__count {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
  }

  &__title {
    line-height: 1.33;
  }
}
