@import '../../../styles/helpers/mixins';

.privacy-switcher {
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  @include media-desktop-first(tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 24px;
    border-radius: 3em;
    margin: 0 30px;
    border: 1px solid #ed5267;
    background-color: #ed5267;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:checked {
      background-color: #ff974f;
      border: 1px solid #ff974f;

      &::after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 3px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
      transition: all .2s ease-in-out;
    }
  }

  &__state {
    font-weight: 600;
    line-height: 1.33;
  }
}
