@import '../../../styles/helpers/mixins';

.main-block {
  display: grid;
  grid-template-columns: 29.5% 67%;
  grid-column-gap: 3.5%;
  padding: 72px 0;

  @include media-desktop-first(desktop) {
    padding: 6vw 0;
  }

  &__col-left {

  }

  &__col-right {

  }
}
